
log.txt

#Session/User-Specific Files
############################
.Rproj.user
.Rhistory
.RData
.Ruserdata

#Raster Data 
############
raster/

#Vector Data
############
vector/HUC*

#temp
#####
temp/